/*============================== Site fonts ==============================*/

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.woff2') format('woff2'),
  url('../fonts/Raleway-Light.woff') format('woff'),
  url('../fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
  url('../fonts/Raleway-Medium.woff') format('woff'),
  url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
  url('../fonts/Raleway-ExtraLight.woff') format('woff'),
  url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
  url('../fonts/Raleway-ExtraBold.woff') format('woff'),
  url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Thin.woff2') format('woff2'),
  url('../fonts/Raleway-Thin.woff') format('woff'),
  url('../fonts/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Black.woff2') format('woff2'),
  url('../fonts/Raleway-Black.woff') format('woff'),
  url('../fonts/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
  url('../fonts/Roboto-Black.woff') format('woff'),
  url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/Raleway-Bold.woff') format('woff'),
  url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
  url('../fonts/Raleway-SemiBold.woff') format('woff'),
  url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
  url('../fonts/Roboto-Thin.woff') format('woff'),
  url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*========================== Site roots ==========================*/

:root {
  --hover-button:#E0BEA2;
  --active-button: #CCA88A;
  --site-text-color: #252525;
  --site-text-color2: #fff;
}

/*============================= General Css =============================*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

img {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--site-color);
  border-radius: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

/*=================== Header Started  ===============*/

.site__header{
  width: 100%;
  height: 100vh;
  background-image: url(../img/desktop-header-bg-img.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Navbar started */

.header__container{
  padding-top: 24px;
}

.header__navbar{
  display: flex;
}

.header__menu-btn{
  padding-left: 100px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.fa-bars{
  font-size: 35px;
  color: var(--site-text-color2);
}

.header__menu{
  display: flex;
  padding-top: 10px;
  padding-left: 79px;
}

.header__item{
  padding-left: 25px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.header__item-link{
  color: var(--site-text-color2);
}

.header__logo-link{
  padding-left: 120px;
}

.header__logo-img{
  width: 159px;
  height: 40px;
}

.header__selectlang-box{
  user-select: none;
  padding-top: 10px;
  padding-left: 93.91px;
}

.header__select-lang{
  width: 62px;
  height: 21px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 20px;  
  background-color: transparent; 
  color: var(--site-text-color2);
}

.header__select-lang option{
  color: var(--site-text-color);
}

.header__icons{
  padding-top: 8px;
  padding-left: 38.78px;
}

.header-icon-btn{
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.header__icon{
  font-size: 20px;
  color: var(--site-text-color2);
}

/* Navbar end */

.hero__section-title{ 
  padding-top: 310px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  color: var(--site-text-color2);
  opacity: 0.85;
}
.hero__element-border{
  position: relative;
  left: 600px;
  width: 120px;
  height: 1px;
  background-color: var(--site-text-color2);
}

.hero__link{
  position: relative;
  top: 20px;
  left: 570px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: var(--site-text-color2);
}

.hero__link-element{
  position: relative;
  top: 19px;  
  left: 575px;
  bottom: 1px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 20px;
  color: var(--site-text-color2);
}

/* =================== Header End =================== */
/* =================== Main Started =================== */

/* Categories Section Started */

.categories__section-container{
  padding: 100px 0px 0px 60px;
}

.categories__section-title{
  padding: 0px 0px 50px 60px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: var(--site-text-color);
}

.categories__slayd-lists{
  display: flex;
}

.categories__slayd-items{
  padding-left: 15px;
}

.categories__slayd-items h4{
  padding-top: 8px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: var(--site-text-color2);
}

.categories__img-name{
  position: relative;
  bottom: 43px;
  width: 273.75px;
  height: 40px;
  background: rgba(224, 190, 162, 0.75);
  backdrop-filter: blur(3px);
}

.slayds__btn-left{
  position: relative;
  top: 205px;
  left: 70px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: var(--hover-button);
}

.fa-chevron-left{
  font-size: 15px;
  color: var(--site-text-color2);
}

.slayds__btn-right{
  position: relative;
  top: 205px;
  right: 55px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: var(--hover-button);
}

.fa-chevron-right{
  font-size: 15px;
  color: var(--site-text-color2);
}

/* Categories Section End */
/* Contact Section Started */

.contact__section-container{
  padding-top: 100px;
}

.contact__section-title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--site-text-color);
}

.contact__regestration-forms{
  padding-top: 50px;
  padding-left: 350px;
}

.contact__user-email input{
  width: 600px;
  height: 50px;
  padding-left: 50px;
  border: 0.5px solid #252525;
}

.contact__user-email input::placeholder{
  padding-left: 200px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */ 
  color: rgba(37, 37, 37, 0.5);
}

.contact__regestration-btn{
  position: relative;
  top: 20px;
  width: 600px;
  height: 50px;
  border: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: var(--site-text-color2);
  background: var(--hover-button);
}

.contact__section-disc{
  width: 600px;
  height: 38px;
  padding-top: 40px;
  margin-left: 340px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  line-height: 19px;  
  color: var(--site-text-color);
}

/* Contact Section End */

/* =================== Main End =================== */

/* =================== Footer Started =================== */

.footer__container{
  padding-top: 150px;
}

.footer__title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: var(--site-text-color);
}

.footer__menu{
  padding-top: 10px;
}

.footer__menu-item{
  padding-top: 10px;
}

.footer__menu-link{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}

.footer__content-menu{
  display: flex;
  padding-bottom: 74px;
  justify-content: space-around;
}

.contact__menu-icons{
  display: flex;
}

.contact__menu-icons{
  position: relative;
  left: -10px;
}

.fa-brands{
  color: var(--hover-button);
}

.footer__icon{
  padding-left: 10px;
}

/* ===================Footer End =================== */